
body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.character-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card {
    border: gainsboro 2px solid;
    width: 300px;
    margin: 20px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    padding: 8px;
}

.character-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

  /* // 00B0C8
// 75CB38 */